body {
    background-color: brown;
}
.board {
    width: 500px;
    outline: 1px solid rebeccapurple;
}
.row {
    display: flex;
}
.square {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dark {
    background-color: black;
}
.light {
    background-color: aliceblue;
}
.red-piece, .white-piece {
    background-color: rgb(182, 35, 35);
    border-radius: 50%;
    width: 50%;
    height: 50%;
}
.white-piece {
    background-color: rgb(155, 155, 33);
}